<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div>
        <img
          src="../../../assets/images/IoE2.png"
          alt="SWAPADMIN"
          class="swapadmin" />
      </div>
      <div>
        <label style="color: black; font-size: x-large; font-weight: bold; font-family: 'Times New Roman',
         Times, serif;">CONTROL DE DESECHADORES</label>
      </div>
      <div class="nav navbar-nav1">
        <a
          class="nav-link"
          href="#"
          id="closesessionlink"
          [routerLink]="[]"
          ><mat-icon>account_circle</mat-icon></a>
      </div>
    </div>
  </nav>
</header>
<hr />


